<html lang="en">
  <title>Data Collector App</title>
  <head>
      <link href="../static//main.css" rel="stylesheet">
  </head>
    <body>
        <div class="container">
            <h1>Collecting height</h1>
            <h3>Please fill the entries</h3>
            <form action="{{url_for('success')}}" method="POST">
                <input title="Your Email" placeholder="Enter your email" type="email" name="email_name" required><br>
                <input title="Your Email" placeholder="Enter your height" type="number" min="50", max="300"  name="height_name" required><br>
                 <button type="submit">Submit</button>
            </form>
        </div>
    </body>
  </html>